PROCESSOR_ENV=development
LOG_LEVEL=INFO
DATABASE_URL=postgresql+psycopg://usuario:password@localhost:5432/kilo_hoku_db
DATABASE_SCHEMA=astronomy
POLL_INTERVAL_SECONDS=30
WORKER_ID=local-worker
JOB_BATCH_SIZE=10
PROCESSING_CHUNK_SIZE=50000
TEMP_DIR=./tmp
LOCAL_LIGHT_CURVES_PATH=C:\UPC\TFG\TFG_Victor\light_curves
