PROCESSOR_ENV=development
LOG_LEVEL=INFO
DATABASE_URL=postgresql+psycopg://usuario:password@localhost:5432/kilo_hoku_db
DATABASE_SCHEMA=astronomy
LOCAL_LIGHT_CURVES_PATH=C:\UPC\TFG\TFG_Victor\light_curves
